In [1]:
import pandas as pd
import numpy as np

caminho = 'C:/Users/Usuario/Documents/arquivos_de_exercicios_python_para_ciencia_dados_basico/dados/mtcars.csv'
carros = pd.read_csv(caminho)
carros.columns = ['nomes','mpg','cyl','disp', 'hpt', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']
carros.index = carros.nomes

In [2]:
carros_cat = carros[['cyl', 'am', 'gear', 'carb']]

In [6]:
marchasgp = carros_cat.groupby('gear')
marchasgp.describe().T

gear                3          4         5
cyl  count  15.000000  12.000000  5.000000
     mean    7.466667   4.666667  6.000000
     std     1.187234   0.984732  2.000000
     min     4.000000   4.000000  4.000000
     25%     8.000000   4.000000  4.000000
     50%     8.000000   4.000000  6.000000
     75%     8.000000   6.000000  8.000000
     max     8.000000   6.000000  8.000000
am   count  15.000000  12.000000  5.000000
     mean    0.000000   0.666667  1.000000
     std     0.000000   0.492366  0.000000
     min     0.000000   0.000000  1.000000
     25%     0.000000   0.000000  1.000000
     50%     0.000000   1.000000  1.000000
     75%     0.000000   1.000000  1.000000
     max     0.000000   1.000000  1.000000
carb count  15.000000  12.000000  5.000000
     mean    2.666667   2.333333  4.400000
     std     1.175139   1.302678  2.607681
     min     1.000000   1.000000  2.000000
     25%     2.000000   1.000000  2.000000
     50%     3.000000   2.000000  4.000000
     75%     4.000000   4.000000  6.000000
     max     4.000000   4.000000  8.000000

## Transformando dados em variáveis categóricas

In [7]:
carros['grupo'] = pd.Series(carros['gear'], dtype='category')

In [8]:
carros.dtypes

nomes      object
mpg       float64
cyl         int64
disp      float64
hpt         int64
drat      float64
wt        float64
qsec      float64
vs          int64
am          int64
gear        int64
carb        int64
grupo    category
dtype: object

In [9]:
carros['grupos'].head()

KeyError: 'grupos'